<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>
  <br>
  <div class="principal">
    <div class="element">
      <%= image_tag @post.image.url(:large)%>
    </div>
    <div class="element1">
      <p class="body">
        <%= @post.body %>
      </p>
    </div>
  </div>

  <p class="date">
    submitted <%= time_ago_in_words(@post.created_at) %> Ago
    <% if user_signed_in? && can_edit_post?(@post) %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
  </p>

  <div id='comments'>
    <h2><%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>

    <h3>Add comment:</h3>
    <%= render "comments/form" %>
  </div>
</div>
